/*TUDO*/

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --roxo-escuro: #7800ac;
    --cor-titulo-paragrafo: #fff;
    --imagem-principal: url(../assets/banner.png);
    --preto: #111;
    --preto-medio: #24272b;
    --preto-claro: #2D3135;
    --roxo-claro: #a855f7;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

hr {
    border: none;
    border: 1px solid var(--branco);
}

/*HEADER*/
header {
    width: 100vw;
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-bottom: 1px solid var(--roxo-escuro);
}

.header-links {
    display: flex;
    width: 40vw;
    gap: 40px;
}

#secoes{
    display: flex;
    gap: 15px;
}

header h1 {
    color: #a855f7;
}

i {
    display: inline-block;
    transition: transform 1.5s;
}

i:hover {
    transform: rotate(360deg);
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

/*LANDING*/

.hero {
    height: 100vh;
    background-size: cover;
    background-image: var(--imagem-principal);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    flex-direction: column;
    justify-content: space-between;
}

.hero-con button {
    padding: 10px 20px;
    background: #07000d;
    border: none;
    color: white;
    cursor: pointer;
}

.hero-text h2 {
    font-size: 40px;
}

.hero-text p {
    margin: 10px 0;
}


.hero-content {
    padding: 40px;
    max-width: 500px;
    align-self: flex-end;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 20px;
}


.hero button:hover {
    opacity: 0.8;
}

.sobre {
    background: var(--preto);
    padding: 60px 90px;
    text-align: justify;
    gap: 30px;
}

#contexto {
    width: 40vw;
}


.sobre h1 {
    margin-bottom: 20px;
}

#tabela {
    width: 50vw;
}

.linha {
    display: flex;
    padding: 20px 0;
}

.coluna-titulo {
    width: 30%;
    font-weight: bold;
}

.coluna-conteudo {
    width: 70%;
    line-height: 1.6;
}

/*CADASTRO E LOGIN*/
.img-formulario {
    width: 75vw;
    height: 100vh;
    background-image: var(--imagem-principal);
    background-size: cover;
  
}


.formulario {
    padding: 30px;
    background-color: #2D3135;
    height: 100vh;
    width: 25vw;
    border: 1px solid #24272b;
}

.botoes{
    margin-top: 20px;
    text-align: center;
    gap: 20px;
}


.login-cadastro{
    align-items: center;
}

label {
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 12px;
    font-weight: 800;
}

.inputs {
    gap: 7px;
    margin-top: 15px;
}

input {
    padding: 16px 21px;
    border-radius: 3px;
    background-color: #24272b;
    border: 1px solid #2D3135;
    color: var(--branco);
}

h3 {
    font-size: 26px;
    line-height: 32px;

}

/*BODY*/
body {
    color: var(--branco);
    background-color: var(--preto);
}

button {
    cursor: pointer;
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    background-color: var(--roxo-claro);
    text-align: center;
    width: 100%;
    padding: 12px 45px 14px;
}

i button {
    color: white;
}


.flex {
    display: flex;
}

.titulo {
    font-family: var(--fonte-titulo);
}

.colunar {
    flex-direction: column;
}

.container {
    padding: 30px;
    background-color: var(--preto);
}

.tela-inteira {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*DASHBOARD*/

.gradient-to-left {
    background: linear-gradient(218deg, rgba(119, 0, 143, 1) 0%, rgba(134, 87, 199, 1) 50%, rgba(255, 128, 249, 1) 100%);
}

.gradient-to-right {
    background: linear-gradient(50deg, rgba(119, 0, 143, 1) 0%, rgba(134, 87, 199, 1) 35%, rgba(255, 128, 249, 1) 100%);
}

.fundo-roxo {
    background-color: rgba(119, 0, 143, 1);
}

.fundo-padrao {
    background-color: var(--preto-medio);
}

.dashboard {
    gap: 20px;
    height: calc(100vh - 80px);
    padding: 20px;
}

.graficos {
    gap: 30px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.grafico {
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sombra {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.kpis {
    display: flex;
    height: 15vh;
    gap: 25px;
}

.kpi {
    display: flex;
    flex-direction: column;
    padding: 27px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* FOOTER */
footer {
    border-top: 1px solid #5c5c5c;
    gap: 50px;
    justify-content: center;
    padding: 60px;
    background-color: var(--preto);
}